@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --cor-principal: #8F0D0B;
    --cor-secundaria: #EBDEDD;
}

html {
    scroll-behavior: smooth;
}

body { 
    margin: 0;
    font-family: Montserrat;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 25px 40px;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;

}

header img{
    width: 50px;
}

header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header ul li a {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

header ul li a:hover {
    background-color: #af3937;
    padding: 10px;
    border-radius: 10px;
}

article {
    margin: auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/igreja-adorando.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Oswald;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 30px;
}

.banner h1{
    margin: 0;
    font-weight: 400;
}

.banner p {
    margin: 0;
    font-weight: 200;
}

.banner .versiculo {
    font-size: 18px;
    color: #cfcfcf;
    margin: 30px;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 0 40px 0 40px;
}

.sobre .texto-container {
    max-width: 500px;
    margin-right: 40px;
    font-size: 20px;
    text-align: justify;
}

.sobre .texto-container h2 {
    font-weight: 500;
    color: var(--cor-principal);
}

.sobre .fachada-container {
    max-width: 700px;
}

.sobre img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.199);
}

.programacao h1 {
    text-align: left;
    padding-left: 100px;
    color: var(--cor-principal);
    font-weight: 600;
    margin: 30px;
}

.programacao .programacao-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #cfcfcf;
}

.programacao .programacao-grid {
    display: flex;
    font-family: Montserrat;
    font-size: 20px;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px; ;
}

.programacao .programacao-grid h2 {
    margin-bottom: 0px;
    font-weight: 500;
}

.fa-regular {
    margin-right: 15px;
    font-size: 22px;
}

.programacao .programacao-grid h3 {
    margin-bottom: 0;
    font-weight: 500;
}

.programacao .programacao-grid p {
    margin-top: 0;
    color: #4E4E4E;
}

.fa-regular.fa-clock {
    margin-right: 10px;
    font-size: 18px;
}

.banner-igreja-container {
    margin: 40px 20px;
    max-height: 500px;
}

.banner-igreja-container img {
    width: 100%;
    height: 500px;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.199);
}

.ministerios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(248, 241, 233);
}

.ministerios h1 {
    text-align: left;
    padding-left: 100px;
    color: var(--cor-principal);
    font-weight: 600;
    margin: 40px 0px 0px 0px;
}

.ministerios-container {
    display: flex;
    padding: 40px;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.ministerios-container .texto {
    max-width: 500px;
}

.ministerios-container .texto h2 {
    font-weight: 400;
    font-size: 36px;
}

.ministerios-container .texto p {
    text-align: justify;
    font-size: 20px;
}

.imagem-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.imagem-container .imagem-grid {
    width: 100%;
}

.imagem-container img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.151);
}

.localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    padding-bottom: 100px;
    background-image: url(../images/igreja-cantata-fundo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.localizacao h1 {
    padding-left: 100px;
    color: white;
    font-weight: 600;
    margin: 0 0 40px 0;
}

.localizacao .textos {
    display: flex;
    gap: 40px;
    max-width: 500px;
    font-size: 20px;
    text-align: justify;
    margin-right: 30px;
}

.localizacao .textos h2 {
    font-weight: 500;
}

.localizacao .textos .fa-solid.fa-map {
    margin-right: 10px;
    font-size: 28px;
}

.localizacao .localizacao-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.map-container iframe {
    width: 500px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.674);
}

.contato {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #191919;
}

.contato h1 {
    color: white;
    font-weight: 600;
    margin: 0 0 80px 0;
    padding-left: 100px;
}

.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contato-container .icons-container {
    display: flex;
    color: white;
}

.contato-container .icons-container .icons {
    font-size: 60px;
}

.contato-container .icons-container .icons i {
    margin-right: 25px;
    margin-left: 25px;
    transition: all 0.3s ease;
}

.contato-container .icons-container .icons a {
    color: white;
}

.contato-container .icons-container .icons i:hover {
    transform: scale(1.2);
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;;
}

.fa-brands.fa-whatsapp:hover {
    color: green;
}

.fa-brands.fa-instagram:hover {
    color: #E53073;
}

.fa-brands.fa-youtube:hover {
    color: #C82826;
}

footer {
    background-color: var(--cor-principal);
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.322);
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
}

.botao-whatsapp {
    position: fixed;
    display: flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    background-color: #25D366;
    padding: 12px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.217);
    transition: all 0.2s ease;
}

.botao-whatsapp i {
    color: white !important;
}

.botao-whatsapp:hover {
    transform: scale(1.1);
    color: white;
}

.botao-whatsapp,
.botao-whatsapp:visited,
.botao-whatsapp:hover,
.botao-whatsapp:active {
    color: white;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: space-between;
        height: 120px;
        padding: 20px;
    }

    header img {
        width: 5%;
    }

    header nav {
        position: static;
        transform: none;
        margin-top: 15px;
    }

    header nav ul li a {
        font-size: 14px;
    }
    
    .sobre {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre .texto-container {
        margin-bottom: 30px;
    }

    .sobre img {
        max-width: 600px;
        justify-content: center;
        width: 100%;
    }

    .programacao-container {
        flex-direction: column;
    }

    .ministerios .ministerios-container {
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid lightgray;
    }

    .ministerios-container .imagem-grid {
        max-width: 600px;
    }

    .localizacao .localizacao-container{
        flex-direction: column;
        align-items: center;
    }

    .localizacao-container .textos {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: space-between;
        height: 120px;
        padding: 20px;
    }

    header img {
        width: 10%;
    }

    header nav {
        position: static;
        transform: none;
        margin-top: 15px;
    }

    header nav ul li a {
        font-size: 11px;
    }

    .banner {
        height: 500px;
    }

    .sobre {
        margin: auto;
        padding: 18px;
    }

    .sobre .texto-container {
        font-size: 16px;
        margin: auto;
    }

    .sobre img {
        height: 250px;
        object-fit: cover;
    }

    .programacao h1,
    .ministerios h1,
    .localizacao h1,
    .contato h1 {
    padding-left:5px;
    font-size: 24px;
}

    .programacao h1 {
        margin-bottom: 0;
        font-size: 26px;
    }

    .programacao .programacao-container{
        flex-direction: column;
    }

    .programacao-container .programacao-grid {
        margin: 0;
        margin-left: 5px;
        font-size: 16px;
    }

    .programacao-grid h2 {
        margin-top: 50px;
    }

    .programacao-grid .tit-domingo {
        margin-top: 0;
    }

    .programacao-grid p {
        margin-bottom: 0;
    }

    .banner-igreja-container img {
        height: 350px;
    }

    .ministerios h1 {
        margin-left: 20px;
        font-size: 26px;
    }

    .ministerios-container {
        padding: 18px;
    }

    .ministerios-container .texto h2 {
        font-size: 26px;
    }

    .ministerios-container .texto p {
        font-size: 16px;
    }

    .localizacao {
        padding: 18px;
    }

    .localizacao h1 {
        margin-bottom: 0;
    }

    .localizacao .localizacao-container .textos .textos-container p {
        font-size: 16px;
    }

    .map-container {
        width: 100%;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .map-container iframe {
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        margin-bottom: 30px;
    }

    .contato h1 {
        margin-bottom: 40px;
    }

    .contato .contato-container {
        flex-direction: column;
    }

    .contato-container .icons-container .icons {
        font-size: 40px;
        transform: none;
    }

    footer p {
        font-size: 14px;
    }
}

@media (max-width: 1050px) {    
    .banner .versiculo {
        max-width: 600px;
    }

    .sobre {
        flex-direction: column;
    }

    .sobre img {
        max-width: 600px;
    }

    .ministerios-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .ministerios-container .texto {
        max-width: 800px;
    }

    .ministerios-container .imagem-container .imagem-grid {
        max-width: 700px;
    }

    .localizacao .localizacao-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .localizacao-container .textos .textos-container p{
        max-width: 800px;
    }

    .localizacao-container .map-container {
        max-width: 100%;
    }

    .localizacao-container .map-container iframe {
        max-width: 500px;
        height: 400px;

    }
}